<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <!--display type 1 = by passing only key and provide the name of key  -->
        <!-- <h1>Hello.....</h1>
        <h2>My name is : {{nm}}</h2>
        <h2>My city is : {{ct}}</h2>
        <h2>My qualification is : {{qual}}</h2>
         -->

         <!--display type 2 = by passing key and value in dictionary format -->
         <!-- <h1>Welcome.....</h1>
         <h2>My name is : {{key.nm}}</h2>
         <h2>My city is : {{key.ct}}</h2>
         <h2>My qualification is : {{key.qual}}</h2> -->
         

         <!-- display type 3 = passing one attribute like nm in all place -->
          <h1>Personal Information .....</h1>
         <h2>My name is : {{key.nm.name}}</h2>
         <h2>My city is : {{key.nm.ct}}</h2>
         <h2>My qualification is : {{key.nm.qual}}</h2>

    </center>
</body>
</html>